<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DatabaseFirst11jv1Entities" connectionString="data source=<your sql server>;initial catalog=DatabaseFirst11jv1;integrated security=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
</configuration>